---
---

@import "{{ site.theme }}";

.markdown-body {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  table th, table td {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f1f1;
    font-weight: bold;
  }
}