---
---

@import "{{ site.theme }}";

.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1em;
  width: 100%;
}

.markdown-body table {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  word-wrap: break-word;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

@media screen and (max-width: 600px) {
  .table-wrapper {
    -webkit-overflow-scrolling: touch;
  }
}