<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}Schedule Process Documentation{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% if site.favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">
  {% endif %}
  <style>
    .container-lg {
      max-width: 1400px !important;
      margin: 0 auto;
    }
    
    table {
      display: table;
      width: 100%;
      overflow-x: auto;
    }
    
    th, td {
      white-space: nowrap;
      padding: 8px 12px;
    }
    
    @media screen and (max-width: 768px) {
      .container-lg {
        padding: 0 !important;
      }
    }
  </style>
</head>
<body>
  <div class="container-lg px-3 my-5 markdown-body">
    {% if site.title and site.title != page.title %}
    <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
    {% endif %}

    {{ content }}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      mermaid.initialize({
        startOnLoad: true,
        theme: 'default'
      });
    });
  </script>
</body>
</html>